<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Happycasts Email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td bgcolor="#ececec" align="center">
<table align="center" border="0" cellpadding="0" cellspacing="0"
width="600" style="margin: 0 auto;">
<tr>
<td width="600" height="20"></td>
</tr>
<tr>
<td bgcolor="#4B4044" height="30">
<strong style="color: #72A6A6; font-size: 13px; padding-left: 30px;">第<%= @episode.id %>期</strong>
</td>
</tr>
<tr>
<td bgcolor="#D5E9E7" align="center" style="padding: 30px 0 30px 0;">
<%= link_to "HAPPYCASTS", root_url, :style => "font-size: 36px; color: #72A6A6; font-weight: bold; text-decoration: none;" %>
</td>
</tr>
<tr>
<td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<p style="font-size: 18px; font-weight: bold; line-height: 24px; margin-top: 0; margin-bottom: 18px;">
<%= link_to @episode.name, episode_url(@episode), :style => "color: #D9653B; text-decoration: none;" %>
</p>
</td>
</tr>
<tr>
<td style="padding-bottom: 18px; font-size: 13px; line-height: 18px; color: #444444;">
<%= @episode.description %>
</td>
</tr>
<tr>
<td align="right" style="font-size: 13px; color: #444444;">
<%= I18n.l(@episode.published_at.to_date, :format => :long) %>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td bgcolor="#4B4C44" style="padding: 10px 30px 10px 30px; color: #72A6A6; text-align: center; font-size: 12px;">
如果您不想收到此类邮件，请随时 <a href="http://www.happycasts.net/account" style="color: #D5E9E7; text-decoration: none; font-size: 12px;">取消订阅</a>.
</td>
</tr>
<tr>
<td width="600" height="20"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>