    <div class="reply clearfix">
       <div class="avatar">
         <%= link_to '#' do %>
           <%= image_tag c.user.avatar, class: 'image-circle' %>

       </div>
       <div class="body">
         <div class="heading">
            <h5 class="name"><%= link_to c.user.name, "#" %></h5>
            <span class="datetime">
              <%= time_ago_in_words c.created_at %> ago
            </span>
         </div>
         <%= markdown(c.content) %>
       </div>
    </div>
  <% end %>
