<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Running</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] + '-' + params[:action] %>">
  <div class="navbar clearfix">
    <div class="container">
      <a class="navbar-brand" href="/">
        奔跑吧
      </a>
      <ul class="nav right">        
        <% if current_user %>
          <li><%= link_to current_user.name, "#" %></li>
          <li><%= link_to t("navbar.logout"), logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to t("navbar.login"), login_path %></li>     
          <li><%= link_to t("navbar.signup"), signup_path %></li>
        <% end %>
          <li><%= link_to t("navbar.about"), "/about" %></li>
      </ul>
    </div>
  </div>

  <% if flash.notice %>
    <div class="notice"><%= flash.notice %></div>
  <% end %>

  <%= yield %>

  <div class="footer">
    <div class="container">
      Copyright © 2015 <a href="http://www.wangyzyoga.com" rel="nofollow">WangYaojia
    </div>
  </div>
  <script>
    $('.home-banner').anystretch();
  </script>

  <script>
    $('.home-banner').anystretch();
    var hideNotice = function(){
      $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 4000);
  </script>

</body>
</html>